@import './styles/roulette.css';
@import './styles/register_form.css';

.App {
  text-align: center;
}

body {
  font-size: 30px;
}

button {
  font-size: 20px;
}

input {
  font-size: 30px;
}

img {
  height: 30px;
}

.logout {
  justify-content: flex-end;
  display: flex;
}
